body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
   
  h1 {
    text-align: center;
  }
   
  .game {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
   
  .player {
    flex: 1;
    margin: 10px;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 5px;
    text-align: center;
  }
   
  .player-name1,
  .player-name2 {
    font-weight: bold;
    margin-bottom: 10px;
  }
   
  .player-score,
  .player-current-score {
    font-size: 24px;
    margin-top: 5px;
    margin-bottom: 10px;
  }
   
  .player-box {
    margin-top: 10px;
  }
   